
<div class="container-fluid">
  

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:  #cc66cc;">
  <a class="navbar-brand" href="#">ONLINE SHOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
      </li> 
<li class="nav-item">
        <a class="nav-link" routerLink="/konsumen" routerLinkActive="active">Konsumen</a>
      </li> 
<li class="nav-item">
        <a class="nav-link" routerLink="/supplier" routerLinkActive="active">Supplier</a>
      </li> 
<li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
     
    </ul>
   <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>




<router-outlet></router-outlet>


